body
{
    font-size: 12pt;
    font-family: Calibri;
}
code
{
    color: Black;
    font-size: 12pt;
    font-family: ﻿;
}
#name
{
    font-weight: bold;   
}

#time
{
    font-style: italic;
}

#description_title
{
    font-weight: bold;
}
